body {
    font-family: 'Poppins', sans-serif;
    background-color: teal;
    margin: 0 250px;
    padding: 0;
    text-align: center;
}

h1, h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

img {
    width: 500px;
    max-width: 80%;
    border-radius: 10px;
}

ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}
